[req]
prompt = no
distinguished_name = xy
req_extensions = v3_req

[xy]
C = AU
ST = State
L = Local
O = Org
OU = OrgUnit
CN = XY
# https://github.com/est31/rcgen/issues/126
# emailAddress = admin@xy.com

[v3_req]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical, CA:TRUE